/* Base styles */

@import '../styles';

:root {
  --pad: 6px;
  --pad2: 12px;
  --pad4: 24px;
  --pad6: 36px;
  --pad8: 48px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: $cl-background;
  font-family: helvetica, arial, 'hiragino kaku gothic pro', meiryo, 'ms pgothic', sans-serif;
  font-size: 1.6rem;
  margin: 0;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
