@import './styles';

// MDC automatically calculates other themes such as 'on-primary'
// from these values.
$mdc-theme-primary: $cl-primary;
$mdc-theme-secondary: $cl-secondary;
$mdc-theme-background: $cl-background;

@import '@material/react-top-app-bar/index.scss';
@import '@material/react-material-icon/index.scss';
@import '@material/list/mdc-list.scss';
