/* Theme configuration */

// Reference of color palette: https://material.io/design/color/the-color-system.html

$cl-primary-50: #eceff1;
$cl-primary-100: #cfd8dc;
$cl-primary-900: #263238;
$cl-secondary: #28b5f4;
$cl-background: #fff;
