<% content_for(:scripts) do %>
  <script crossorigin src="<%= asset_url('welcome.js') %>"></script>
<% end %>

<h1>Welcome to Wracket</h1>

<p>Env: <%= Rails.env %></p>

<% if Wracket::RELEASED %>
  <%= form_with url: login_path do %>
    <button type="submit">Log in</button>
  <% end %>
<% end %>

<div id="welcome-root"></div>
