<% content_for(:scripts) do %>
  <script crossorigin src="<%= asset_url('welcome.js') %>"></script>
<% end %>

<h1>Welcome to Wracket</h1>

<%= form_with url: login_path do %>
  <button type="submit">Log in</button>
<% end %>

<div id="welcome-root"></div>
