@import '@material/animation/variables';
@import '../../styles/vars/responsive';

.mainContainer {
  padding-top: var(--header-height);
  display: flex;
  align-items: flex-start;
}

.bookmarkFilter {
  position: fixed;
  top: var(--header-height);
  right: 0;
  bottom: 0;
}

.bookmarkList {
  margin: 0 auto;
  width: 95%;
  max-width: 980px;

  @include screen-sm {
    width: 100%;
  }

  @include screen-lg-only {
    padding-right: 180px;
  }
}
