.list {
  composes: mdc-list mdc-list--two-line from global;

  .listItem {
    // Override default height 72px of '.mdc-list--two-line .mdc-list-item'.
    height: auto;
  }
}

.listItem {
  composes: mdc-list-item from global;
  border-bottom: 1px solid var(--cl-primary-50);
  min-height: 72px;
  position: relative;
  padding-top: var(--pad2);
  padding-bottom: var(--pad2);
  flex-wrap: wrap;
}

.loadMore {
  text-align: center;
  padding: var(--pad4) 0;
}

:global {
  // We need global classes for react-transition-group.
  // https://reactcommunity.org/react-transition-group/transition-group
  .g-BookmarkList-item {
    &-enter {
      opacity: 0.01;
    }

    &-enter-active {
      opacity: 1;
      transition: opacity 80ms ease-in;
    }

    &-exit {
      opacity: 0.8;
    }

    &-exit-active {
      opacity: 0.01;
      transition: opacity 160ms linear;
    }
  }
}
