.list {
  composes: mdc-list mdc-list--two-line from global;

  .listItem {
    // Override default height 72px of '.mdc-list--two-line .mdc-list-item'.
    height: auto;
  }
}

.listItem {
  composes: mdc-list-item from global;
  border-bottom: 1px solid var(--cl-primary-50);
  min-height: 72px;
  position: relative;
  padding-top: var(--pad2);
  padding-bottom: var(--pad2);
  flex-wrap: wrap;
}
