/* Base styles */

@import '../vars/_vals';

:root {
  --pad: 4px;
  --pad2: 8px;
  --pad4: 16px;
  --pad6: 24px;
  --pad8: 32px;
  --pad10: 40px;

  --cl-primary-50: #{$cl-primary-50};
  --cl-primary-100: #{$cl-primary-100};
  --cl-primary-900: #{$cl-primary-900};
  --cl-secondary-200: #{$cl-secondary-200};
  --cl-secondary-400: #{$cl-secondary-400};
  --cl-white: #fff;

  --header-height: 52px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: $cl-background;
  font-family: helvetica, arial, 'hiragino kaku gothic pro', meiryo, 'ms pgothic', sans-serif;
  font-size: 1.6rem;
  margin: 0;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
