@import '../vars/_vals';

// MDC automatically calculates other themes such as 'on-primary'
// from these values.
$mdc-theme-primary: $cl-primary-900;
$mdc-theme-secondary: $cl-secondary-400;
$mdc-theme-background: $cl-background;

@import '@material/react-top-app-bar/index.scss';
@import '@material/react-material-icon/index.scss';
@import '@material/react-button/index.scss';
@import '@material/list/mdc-list.scss';
@import '@material/form-field/mdc-form-field.scss';
@import '@material/radio/mdc-radio.scss';
@import '@material/linear-progress/mdc-linear-progress.scss';
@import '@material/icon-button/mdc-icon-button.scss';
