@import '../vars/_vals';

// MDC automatically calculates other themes such as 'on-primary'
// from these values.
$mdc-theme-primary: $cl-primary-900;
$mdc-theme-secondary: $cl-secondary-400;
$mdc-theme-background: $cl-background;

@import '@material/react-top-app-bar/index.scss';
@import '@material/react-material-icon/index.scss';
@import '@material/react-button/index.scss';
@import '@material/react-icon-button/index.scss';
@import '@material/list/mdc-list.scss';
@import '@material/react-radio/index.scss';
@import '@material/react-linear-progress/index.scss';
